<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Form 1</h1>
        <form action="/get-form-data" method="post">  <!-- when you click submit you will be redirected to /get-form-data page -->
            <input
                type="text"
                name="username"
                placeholder="enter username"
            >
            <input
                type="text"
                name="email"
                placeholder="enter email"
            >
            <input
                type="password"
                name="password"
                placeholder="enter password"
            >
            <button>Submit</button>
        </form>
</body>
</html>